@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --callout-note: 68, 138, 255;
    --callout-summary: 0, 176, 255;
    --callout-info: 0, 184, 212;
    --callout-hint: 0, 184, 212;
    --callout-success: 0, 200, 83;
    --callout-question: 100, 221, 23;
    --callout-warning: 255, 145, 0;
    --callout-fail: 255, 82, 82;
    --callout-error: 255, 23, 68;
    --callout-bug: 255, 23, 68;
    --callout-example: 124, 77, 255;
    --callout-quote: 158, 158, 158;

    --callout-color: var(--callout-note);
}