# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# If ENVIRONMENT=dev, CORS is enabled.
ENVIRONMENT=dev

# Port at which the server is hosted.
PORT=8080

# URL at which the front-end UI is reached
FRONTEND_URL="http://localhost:3000"

# Database used for Prisma
DATABASE_URL="file:./dev.sqlite"

# Interval at which the database is checked for expired notes
# and expired notes are deleted.
CLEANUP_INTERVAL_SECONDS=60

# Rate limit window after which post limit is reset
POST_LIMIT_WINDOW="86400  # 24 hours"

# Max. posted notes within rate limit window
POST_LIMIT=50